.table{
	text-align: center;
}

.flex-column{
	text-align: center;
}

.card-header{
	text-align: center;
}


.erorr{
	    border-style: solid;
    border-color: red;
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 8px;
}


.rounded-circle {
	    width: 68px;
}

.dropdown-menu{
	background-color:#515763;
}

.dropdown-item{
	color: white;
}
.text-center{
	color: #211d1da1;
}